includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/DynamicLogger.php
        - src/Logger.php
    ignoreErrors:
        - '#Call to an undefined method Zing\\YiiPsrLogger\\Tests\\LoggerTest::setExpectedException\(\).#'
